@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@300;400&family=Poppins&family=Quicksand&family=Ubuntu:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

/* Hero section styling */

.hero-section {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url("../images/hero-image.JPG");
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo {
    color: #fff;
    font-size: 32px;
    letter-spacing: 1px;
    cursor: pointer;
}

span {
    color: crimson;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: crimson;
    transition: all 0.5s ease;
}

.btn {
    background-color: crimson;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform 0.4s;
}

.btn:hover {
    transform: scale(1.2);
}

/* Contact box styling */

.contact-text {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

h1 {
    color: #fff;
    margin: 20px 0px 20px;
    font-size: 73px;
}

h3 {
    color: #fff;
    font-size: 25px;
    margin-bottom: 50px;
}

h4 {
    color: rgb(247, 250, 244);
    letter-spacing: 2px;
    font-size: 20px;
}

.form-area {
    width: 380px;
    max-width: 100%;
    position: relative;
}

.form-box form input:first-child {
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid crimson;
    outline: none;
    border-radius: 30px;
}

.form-box form input:last-child {
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: crimson;
    color: #fff;
}